@import "./colors.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-full;
  @apply font-sans;
  color: var(--text-primary);
  font-size: 16px;
  background-color: #f0f3f7;
  font-family: Rubik;
}


